<p>Hi, <%= @user.username %>,</p>
<p>Thanks for Registering! You are now a full Member of the biggest Social Network in the Universe</p>

<p><%= link_to "Log in", login_path(:host => "127.0.0.1:3000")%></p>
